.designindex {
  background-color: #75e6da;
  padding-top: 5%;
  margin-bottom: 0;
}
.designindex_heading {
  display: flex;
  background-color: #05445e;
  color: white;
  padding: 2% 2% 2% 2%;
  border-bottom: 1px solid rgb(255, 255, 255);
  align-items: center;
}
.designindex_heading > h2 {
  margin-right: 24px;
  cursor: pointer;
  box-shadow: 0 0 10px rgb(134, 134, 134);
  padding: 6px;
  border-radius: 19px;
  /* color: rgb(224, 224, 224); */
}
.designindex_heading > h2:hover {
  color: rgb(221, 218, 218);
}
.designindex_heading_border_bottom {
  border: 2px solid rgb(219, 217, 217);
  padding: 6px;
  box-shadow: 0 0 10px rgb(227, 227, 227);
  border-radius: 19px;
  color: white;
}
